NEXMO_API_KEY = "API KEY HERE"
NEXMO_API_SECRET = "API SECRET HERE"
NEXMO_NUMBER = "SENDING NUMBER HERE"

MY_NUMBER = "DESTINATION NUMBER HERE"
KITCHEN_USN = b'12345678901234567'

LOGLEVEL = logging.WARN